<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="menu">
        <a href="/login">Log in</a> - 
        <a href="/logout">Log out</a> - 
        <a href="/sign_up">Sign up</a> - 
        <a href="/">Home</a>
    </div>
    <p>
        <h1>
            {% block header %}{% endblock %}
        </h1>
    </p>
    <p>
        {% block content %}{% endblock %}
    </p>
</body>
</html>