{% extends "base.html" %}
{%block title%}Personal finance{% endblock %}
{% block header %}WELCOME TO PERSONAL FINANCE{% endblock %}


{% block pagetitle %}Your personal finance{%endblock%}
{% block page_subtitle%}Allow yourself full overview over your personal finances.{%endblock%}

{%block content %}
<div class="custom-block custom-block-balance">
    <small>Sign up today for:</small>
    <div class="d-flex">
        <div>
            <p>
            <small>- Live tracking of your stocks and ETFs</small>
            <br>
            <small>- Summarize all your assets</small>
            <br>
            <small>- Summarize all your liabilites</small>
            <br>
            <small>- Get an overview over personal net worth</small>
            </p>
            <br><br>
            <p><a href="/sign_up">Sign up here for free!</a></p>
            <br><br>
            <p>Already have an account? <a href="/login">Log in here</a></p>
        </div>
    </div>
</div>
{% endblock %}